@import "utils/styles/colors.scss";
@import "utils/styles/typography.scss";

$shadow: 1px 1px $primaryLightBlue, 2px 2px $primaryLightBlue,
  3px 3px $primaryLightBlue, 4px 4px $primaryLightBlue,
  5px 5px $primaryLightBlue, 6px 6px $secondaryGreen, 7px 7px $secondaryGreen,
  8px 8px $secondaryGreen, 9px 9px $secondaryGreen, 10px 10px $secondaryGreen,
  11px 11px $secondaryOrange, 12px 12px $secondaryOrange,
  13px 13px $secondaryOrange, 14px 14px $secondaryOrange,
  15px 15px $secondaryOrange, 16px 16px $secondaryRed, 17px 17px $secondaryRed,
  18px 18px $secondaryRed, 19px 19px $secondaryRed, 20px 20px $secondaryRed,
  21px 21px$primaryGray, 22px 22px$primaryGray, 23px 23px$primaryGray,
  24px 24px$primaryGray, 25px 25px$primaryGray;

$shadow-hover: 1px 1px $primaryLightBlue, 2px 2px $secondaryGreen,
  3px 3px $secondaryOrange, 4px 4px $secondaryRed, 5px 5px$primaryGray;

.container {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;

  .title {
    @include PixelFont;

    color: #ededed;
    font-size: 40px;
    transition: 0.5s all ease;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: $shadow;
  }

  & > svg {
    border-radius: 50%;
    box-shadow: $shadow;
    transition: all 0.5s ease;

    & > path {
      transition: color 0.1s ease-in-out;
    }
  }

  &:hover {
    .title {
      color: #0a0a0a;
      text-shadow: $shadow-hover;
    }

    & > svg {
      box-shadow: $shadow-hover;

      & > path {
        color: black;
      }
    }
  }
}
