@import "utils/styles/colors.scss";
@import "utils/styles/typography.scss";

.button {
  @include PixelFont;

  margin: 0;
  padding: 8px 16px;
  background: linear-gradient(to right, #e37cd3 50%, #dbe86a 50%);
  background-size: 220% 100%;
  background-position: bottom right;
  border: 4px solid #fff;
  text-transform: uppercase;
  color: #1634ea;
  transition: background-position 0.4s ease-out;
  cursor: pointer;

  &:hover {
    background-position: bottom left;
    color: white;
  }
}
