@import "utils/styles/colors.scss";
@import "utils/styles/typography.scss";
@import "utils/styles/animations.scss";

$text-shadow: 0px 0px 30px rgb(21, 232, 42, 0.5), 0px 0px 30px $glitchGreen;

.arrow {
  @include MontserratFont;

  margin-right: 8px;
  text-shadow: $text-shadow;
}

.container {
  @include CourierFont;

  width: max-content;
  display: flex;
  font-size: $fontSizeH2;
  color: $glitchGreen;
}

.title {
  width: 100%;
  text-shadow: $text-shadow;
  text-transform: lowercase;
}

.dash {
  @include PTMonoFont;
  @include Blink-1;

  text-shadow: $text-shadow, $glitchGreen;
}
