$primaryDarkBlue: #1634ea;
$primaryLightBlue: #1cadea;
$primaryYellow: #dbe86a;
$primaryPink: #e37cd3;
$primaryViolet: #7d82e1;
$primaryLightViolet: #a3a3dc;
$secondaryYellow: #e9cb15;
$secondaryGreen: #45aa2b;
$neutral: #fff;
