$primaryDarkBlue: #1634ea;
$primaryLightBlue: #1cadea;
$primaryYellow: #dbe86a;
$primaryPink: #e37cd3;
$primaryViolet: #7d82e1;
$primaryGray: #4e5965;

$neutral: #fff;

$glitchPink: magenta;
$glitchGreen: lime;

$secondaryRed: #e84c50;
$secondaryOrange: #f3a14b;
$secondaryYellow: #e9cb15;
$secondaryGreen: #91c467;
$secondaryViolet: #a3a3dc;
$secondaryGray: #999;
$secondaryPink: rgb(249, 213, 232);

$darkFontColor: #1634ea;
$lightFontColor: #fff;
$neutralFontColor: #999;

$white: #fff;
$white50op: rgba(255, 255, 255, 0.5);
$white80op: rgba(255, 255, 255, 0.5);

$bgColorLight: #1cadea;
$bgColorDark: #174cea;
