@use "utils/styles/colors.scss";
@use "utils/styles/typography.scss";

.cell {
  @include typography.PTMonoFont;

  width: 36px;
  height: 36px;
  margin: 2px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  background-color: colors.$primaryViolet;
  color: colors.$neutral;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: scale 0.3s ease;

  &:hover,
  &:focus-visible {
    outline: 2px solid colors.$primaryYellow;
    outline-offset: -2px;
  }
}

.hidden {
  &:hover,
  &:focus-visible {
    scale: 1.05;
  }
}

.exploded {
  background-color: colors.$secondaryRed;
}
