@import "utils/styles/colors.scss";
@import "utils/styles/typography.scss";
@import "utils/styles/extensions.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;

  li {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
  }
}

.item {
  width: 100%;
  padding: 0 24px;
  display: flex;
  gap: $smallGap;
  align-items: center;
  justify-content: flex-start;
  color: white;

  &:hover {
    scale: 1.05;
  }
}
