@import "utils/styles/colors.scss";
@import "utils/styles/typography.scss";
@import "utils/styles/extensions.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;

  li {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
  }
}

.item {
  display: flex;
  gap: $middleGap;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: $fontSizePrimary;

  &:hover {
    scale: 1.1;
  }
}
