@use "utils/styles/colors.scss";
@use "utils/styles/typography.scss";
@use "utils/styles/extensions.scss";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;

  li {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
  }
}

.item {
  width: 100%;
  padding: 0 24px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  color: white;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    scale: 1.1;
  }
}

.image {
  width: 240px;
}
