@use "utils/styles/colors.scss";
@use "utils/styles/typography.scss";
@use "utils/styles/extensions.scss";

.button {
  width: 100%;
  height: 80px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: colors.$neutral;
  border: none;
  border-radius: extensions.$radius;
  cursor: pointer;
  color: colors.$primaryViolet;
  box-shadow: extensions.$shadow-out;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.8);

  &:hover {
    scale: 1.05;
  }

  &:active {
    box-shadow: extensions.$shadow-in;
    opacity: 0.9;

    > svg {
      scale: 0.95;
    }
  }

  &:disabled {
    box-shadow: extensions.$shadow-in;
    background: none;
    opacity: 1;
    cursor: auto;

    > svg {
      scale: 1;
    }
  }
}

.active {
  box-shadow: extensions.$shadow-in;

  & > svg {
    & > path {
      color: colors.$primaryViolet;
    }
  }
}
