@import "utils/styles/colors.scss";
@import "utils/styles/typography.scss";

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.5fr;
  gap: 20px;
}

.wrapper {
  width: 100%;
  position: relative;
}
