@import "utils/styles/typography.scss";

.container {
  padding: 0;
  width: 100%;
  min-width: 790px;
  max-width: 1024px;
  min-height: 360px;
  max-height: 360px;
  overflow: auto;
}

.content {
  @include PTMonoFont;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 360px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-content: start;
  gap: 40px;
  padding: 32px;
}

.position {
  position: relative;
  width: 100%;
}
