@import "utils/styles/colors.scss";
@import "utils/styles/typography.scss";
@import "utils/styles/extensions.scss";

.card {
  position: relative;
  border-radius: $primaryBorderRadius;
  background-color: $neutral;
  box-shadow: 12px 12px 1px 1px $primaryDarkBlue;
}

.title {
  @include MontserratFont;

  width: 100%;
  min-height: 60px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: $primaryBorderRadius $primaryBorderRadius 0 0;
  background-color: $primaryPink;
  font-size: $fontSizeH2;
  font-weight: 900;
  color: $lightFontColor;
}
