@import "utils/styles/colors.scss";
@import "utils/styles/typography.scss";

.page {
  background: linear-gradient(to right, $primaryLightBlue, #174cea 70%);
  z-index: -3;
}

.container {
  min-width: 500px;
  min-height: 100vh;
  padding: 60px;
  margin: 0 auto;
  background: linear-gradient(rgb(256, 256, 256, 0.5), transparent 2px),
    linear-gradient(90deg, rgb(256, 256, 256, 0.5), transparent 2px);
  background-size: 120px 120px;
  background-position: center center;
  border: 2px rgb(256, 256, 256, 0.5) solid;
  z-index: -2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.title {
  @include MontserratFont;

  text-transform: uppercase;
  font-size: $fontSizeH1;
  font-weight: 800;
  color: $neutral;
  vertical-align: baseline;
}

.subtitle {
  @include MontserratFont;

  margin-bottom: 60px;
  color: $neutral;
  font-size: $fontSizePrimary;
  text-transform: uppercase;
  vertical-align: baseline;
}

.description {
  @include PTMonoFont;

  margin-bottom: 60px;
  font-weight: 300;
  color: $neutral;
  font-size: $fontSizeSmall;
}

.fun {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
