@import "utils/styles/colors.scss";
@import "utils/styles/typography.scss";

.modal {
  width: 100%;
  height: 100vh;
  padding: 36px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.2);
}
.container {
  position: absolute;
  top: calc(50% - 64px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.closeButton {
  @include CourierFont;
  position: absolute;
  padding: 12px;
  top: 8px;
  right: 8px;
  transform: translate(25%, -25%);
  color: $white;
  background: none;
  font-size: $fontSizeH0;
  cursor: pointer;
  z-index: 3;

  & > span {
    display: inline-block;
    transform: rotate(45deg);
  }
}
