@use "utils/styles/colors.scss";
@use "utils/styles/typography.scss";
@use "utils/styles/animations.scss";

.italic {
  @include typography.OswaldFont;

  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .title,
  .shadow {
    @include animations.Glitch-3;

    position: relative;
    font-size: typography.$fontSizeH1;
    font-style: italic;
    font-weight: 800;
    color: colors.$lightFontColor;
    animation: glitch 5s 5s infinite;

    &:before {
      @include animations.Glitch-1;

      content: attr(data-text);
      position: absolute;
      top: 0;
      left: -2px;
      overflow: hidden;
      text-shadow: -4px 0 colors.$glitchPink;
    }

    &:after {
      @include animations.Glitch-1;

      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 2px;
      overflow: hidden;
      text-shadow: -4px 0 lightgreen;
    }
  }

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0 0 1000px colors.$secondaryPink;
    color: transparent;
  }
}

.pixel {
  @include typography.PixelFont;
  @include animations.Glitch-2;

  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow:
    3px 0 3px colors.$glitchPink,
    -3px 0 3px colors.$glitchGreen;
  text-transform: uppercase;
  font-size: typography.$fontSizeH3;
  color: colors.$lightFontColor;
  line-height: 1;
  letter-spacing: 0.125em;
}
