@import "utils/styles/colors.scss";
@import "utils/styles/typography.scss";
@import "utils/styles/animations.scss";

.italic {
  @include OswaldFont;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .title,
  .shadow {
    @include Glitch-3;

    position: relative;
    font-size: $fontSizeH1;
    font-style: italic;
    font-weight: 800;
    color: $lightFontColor;
    animation: glitch 5s 5s infinite;

    &:before {
      @include Glitch-1;

      content: attr(data-text);
      position: absolute;
      top: 0;
      left: -2px;
      overflow: hidden;
      text-shadow: -4px 0 $glitchPink;
    }

    &:after {
      @include Glitch-1;

      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 2px;
      overflow: hidden;
      text-shadow: -4px 0 lightgreen;
    }
  }

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0 0 1000px $secondaryPink;
    color: transparent;
  }
}

.pixel {
  @include PixelFont;
  @include Glitch-2;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 0 3px $glitchPink, -3px 0 3px $glitchGreen;
  text-transform: uppercase;
  font-size: $fontSizeH3;
  color: $lightFontColor;
  line-height: 1;
  letter-spacing: 0.125em;
}
