@import "utils/styles/colors.scss";
@import "utils/styles/typography.scss";

.link {
  margin: 0;
  padding: 8px 16px;
  text-decoration: none;
  background-color: inherit;
  border: 4px solid #fff;
  text-transform: uppercase;
  color: #1634ea;
  background: linear-gradient(to right, #e37cd3 50%, #dbe86a 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: background-position 0.4s ease-out;

  @include PixelFont;

  &:hover {
    background-position: bottom left;
    color: white;
  }
}
